body {
  font-family: Consolas, Courier New, monospace;
  font-size: 14px;
  background-color: #282c34;
}

.side-panel {
  display: flex;
  margin-left: auto;
  color: #ffffff;
  padding: 10px;
  box-sizing: border-box;
  flex-direction: column;
  margin-bottom: 20px;
}

.block_div {
  width: 260px;
  display: flex;
  margin-left: auto;
  box-sizing: border-box;
  flex-direction: column;
  margin: 0px;
  padding: 5px;
}

.container {
  display:flex;
  flex-direction:column;
  width:auto;
  align-items:center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.setting_container {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(auto, max-content) minmax(0, 1fr);
  align-items:center;
}

.setting {
  display: contents;
}

.model-label,
.setting-label {
  text-align: left;
  margin-right: 10px;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 10px;
}

/* Chrome, Safari, Edge, Opera, removes arrows from number input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a:link {
  color:#61afef;
}

a:visited {
  color:#ef596f;
}

.setting-input {
  width:100%;
  margin-bottom: 10px;
}

.small {
  max-width: 100px;
}

.checkbox {
  appearance:none;
  border-radius: 30%;
  width: 20px;
  height: 20px;
  margin:auto;
  transition: 0.15s all linear;
  position: relative;
  background-color: #21252b;
  border: 1px solid #abb2bf;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 8px;
}

.models-dummy,
.dummy {
  display: flex;
  width: fit-content;
}

.api-row-align {
  display: flex;
  align-items: center;
  width: auto;
}

.add-model-row-align {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.api-button {
  margin-left: 10px;
  min-width: max-content;
}

.other-checkbox-align {
  margin-top: -10px;
}

.checkbox.arena-checkbox {
  margin-left: 0;
  margin-top: 0;
}

.checkbox:checked {
  border-color: #ef596f;
  background-color:#ef596f;
  outline:none;
}

.checkbox.arena-models:checked {
  border-color: #56b6c2;
  background-color:#56b6c2;
  outline:none;
}

@keyframes wiggle {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
}

.settings-error {
  transition: color 0.4s ease;
  color: #fdaaaa;
  animation: wiggle 0.1s ease-in-out 2;
}

h1 {
  color: #61afef;
}

p {
  color: #ffffff;
}

.arena-full-container {

}

.arena-wrapper {
  display: flex;
  flex-direction: row;
}

.arena-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  transition: all 0.4s ease;
}

.arena-footer.slide-left {
  margin-left: 0;
  opacity: 0;
  transform: translateX(-100%);
}

.arena-footer.slide-up {
  margin-top: 0;
  transform: translateX(-100%) translateY(-100%);
}

.message-wrapper {
  flex: 1;
}

.message-content {
  color: #ffffff;
  margin-left: 1em;
}

.assistant-content {
  color: #ffffff;
}

.user-content {
  color: #ffffff;
}

.system-content {
  color: #e5c07b;
}

.message-prefix {
  font-weight: bold;
  display: block;
  margin-bottom: 0.3em;
}

.assistant-prefix {
  color: #ef596f;
}

.user-prefix {
  color: #98c379;
}

.system-prefix {
  color: #61afef;
}

.arena-winner {
  transition: color 0.4s ease;
  color: #c1e1c1;
}

.arena-loser {
  transition: color 0.4s ease;
  color: #fdaaaa;
}

.message-footer {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  color: #61afef;
  margin-top: 1em;
}

.regenerate-button {
  margin-left: auto;
}

.message-footer > span {
  transition: transform 0.3s ease, margin-left 0.3s ease;
}

.message-footer.centered > span {
  margin-left: 50%;
  transform: translateX(-50%);
}

.center {
  text-align: center;
}

.textarea-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.image-content {
  margin-left: 1em;
  margin-bottom: 0.5em;
}

.image-content img {
  width: 100%;
  height: auto;
  display: block;
}

.std-input {
  padding: 10px;
  box-sizing: border-box;
  font-family: Consolas, Courier New, monospace;
  border: 1px solid #abb2bf;
  background-color: #21252b;
  color: #ffffff;
  resize: none;
  height: auto;
  overflow: hidden;
}

.std-input:focus {
  outline: none;
  border-color: #ef596f;
}

.std-input.dragging {
  border-color: #98c379;
}

.std-input.padding-for-button {
  padding-right: 48px; /* pretty terrible, just manual calc of the button size, with even padding on both sides, so 10 - 28 - 10*/
}

:root {
  --check-primary: #61afef;
  --check-secondary: #ef596f;
}

.button {
  font-family: Consolas, Courier New, monospace;
  border-radius: 8px;
  position: relative;
  background: var(--check-primary, #61afef);
  border: none;
  color: #282c34;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: auto;
  transition: all 0.1s;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 10px;
}

.regenerate-button {
  padding: 1px 6px;
  background: #98c379;
  margin-bottom: 0;
  margin-left: auto;
}

.regenerate-button.fade-out {
  transition: opacity 0.3s ease;
  opacity: 0;
}

.button.delete-arena {
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: auto;
  background: #fdaaaa;
}

.delete-arena.confirm {
  background: #ef596f;
}

.arena-button {
  padding: 1px 6px;
  background: #98c379;
  margin-bottom: 0;
  font-size: 0.8em;
  transition: background 0.4s ease;
  /* a bit of a crude fix for the height/width changing when i change the "choice" button's text to X and back to checkmark, specific for font size 0.8em... */
  width: 30px;
  height: 17px;
}

.chatbox-button-container {
  position: absolute;
  padding-top: 10px;
  padding-bottom: 10px;
  right: 10px;
  z-index: 2;

  display: flex;
  flex-direction: column;
}

.arena-toggle-button {
  transition: background 0.3s ease, color 0.2s ease;
  width: 28px;
  height: 28px;
  padding: 1px 6px;
  font-size: 1.4em;
  background: #abb2bf;
  margin-top: 0;
  margin-bottom: 0;
  /* this is so the icons / text are centered inside the button, as we want to keep it fixed size, but need to adjust content size*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.arena-toggle-button.arena-mode-on {
  font-size: 1.8em;
  background: #ef596f;
  color: #ffffff;
}

.thinking-mode {
  margin-top: 10px;
}

.arena-toggle-button.thinking-mode-on {
  background: #98c379;
}

.arena-button.no-choice {
  transform: none;
  background: #ef596f;
}

.arena-button.draw {
  background: #61afef;
}

.arena-button.reveal {
  background: #56b6c2;
  font-size: 1.3em;
  line-height: calc(1em - 2px);
}

.arena-button.hovered {
  background: #abb2bf;
}

.arena-button.choice-not-hovered {
  background: #ef596f;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.button span {
  cursor: pointer;
  position: relative;
  transition: 0.1s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.2s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:after {
  content: "";
  background: var(--check-secondary, #ef596f);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.5s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.add-model-row-align .button {
  white-space: nowrap;
  min-width: min-content;
}

.button.add-model {
  background: #98c379;
}

.button.provider-select {
  background: #61afef;
}

.add-model-row-align .button span,
.add-model-row-align .button span:after,
.add-model-row-align .button:hover * {
  all: unset;
}

.arena-toggle-button.button span,
.arena-toggle-button.button span:after,
.arena-toggle-button.button:hover span,
.arena-toggle-button.button:hover span:after,
.arena-toggle-button.button:after,
.arena-toggle-button.button:active:after {
  all: unset;
}

.clearfix {
  clear: both;
}